SECRET_KEY=django-insecure-fr+#-4#@g%l_w-%&g#e=1k+d2z7ubvof^qzkmk@sj#n&@q@m&h
DEBUG=True
ALLOWED_HOSTS=localhost,hotelsol.localhost,.localhost

# Tenant
TENANT_BASE_DOMAIN=localhost
# Database
PGDATABASE=hotel_cad_bd
PGUSER=postgres
PGPASSWORD=1234
PGHOST=127.0.0.1
PGPORT=5432
# CORS

#Email
EMAIL_BACKEND=django.core.mail.backends.smtp.EmailBackend
EMAIL_HOST=smtp.sendgrid.net
EMAIL_PORT=587
EMAIL_USE_TLS=True
EMAIL_HOST_USER=EMAIL_HOST_USER
EMAIL_HOST_PASSWORD=EMAIL_HOST_PASSWORD
DEFAULT_FROM_EMAIL=EMAIL_HOST_USER